<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <h5 class= "card-title" >
         <%= order_item.title %>
      </h5>
      <p class= "card-text" >

      </p>
         <%# <%= link_to 'Destroy Comment', article_comment_path(@article.id, comment),
               method: :delete,
               data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
